@media screen and (min-width: 992px) {
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: 'Changa One', sans-serif;
    font-weight: 300;
}

h1 a, h3 a, p a {
    text-decoration: underline;
    color: #000;
}

p, ul li {
    font-family: 'Inter', sans-serif;
}

form {
    display: block;
    margin: 0 auto;
    width: 50%;
}

label, button {
    font-family: 'Changa One', 'Inter', sans-serif;
    font-weight: 300;
}

select, input {
    font-family: 'Inter', sans-serif;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
}

header {
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.logo a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

#logo1 {
    display: inline;
}

.logo h1 {
    display: inline;
    font-family: "Changa One";
    text-align: center;
    padding: 0;
}

nav {
    font-family: 'Changa One';
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 300px);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
}

nav ul li {
    padding: 10px 20px;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

nav ul li a {
    font-family: 'Changa One';
    font-weight: 300;
    text-decoration: none;
    color: #000;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Changa One', sans-serif;
    width: 100%;
    padding: 10px 0;
    margin-top: auto;
}

footer p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: small;
}

#Trivial {

    margin: 0 15px;
}

#Proximos {
    text-align: justify;
    margin: 0 15px;
}
}